@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes glow-light {
    from {
      filter: drop-shadow(0px 0px 80px #2e1065);
    }
    to {
      filter: drop-shadow(0px 0px 30px #2e1065);
    }
  }

  @keyframes glow-dark {
    from {
      filter: drop-shadow(0px 0px 80px #22d3ee);
    }
    to {
      filter: drop-shadow(0px 0px 30px #22d3ee);
    }
  }

  .animate-glow-dark {
    animation: glow-dark 2s linear infinite alternate;
  }

  .animate-glow-light {
    animation: glow-light 2s linear infinite alternate;
  }

  .active-nav {
    @apply dark:bg-cyan-400 dark:text-slate-900 text-white bg-violet-950
  }

  .active-sidenav,.sidenav:hover {
    @apply after:-left-[35px] text-cyan-400 pl-[60px] !important;
  }

  .sidenav {
    @apply after:content-[''] after:h-[50px] after:w-[50px] after:rotate-45 after:absolute after:-left-[100%] after:right-0 after:transition-all transition-all duration-100 after:bg-cyan-400 cursor-pointer overflow-hidden after:duration-100 after:rounded;
  }

  * {
    @apply transition ease-in-out duration-500 scroll-smooth;
  }

  .dark-mode {
    @apply bg-[#191819]
  }

  .light-mode {
    @apply bg-violet-50
  }

  @font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat.woff2) format("woff2");
  }
}
